@import 'vars';

.window {
    background: transparent;
}

.bar {
    background: $background-transparent;
    margin: 20px 20px 0 20px;
    border-radius: $radius-lg;
}

.startMenu {
    & > * {
        margin-bottom: 10px;
    }
}