$radius-sm: 10px;
$radius-md: 15px;
$radius-lg: 25px;

$background: #151112;
$background-transparent: #1511124D;
$foreground: #9BA8AB;
$foreground-focus: #fff;
$foreground-accent: #BB8F6E;

$border-md: 2px;
$border-sm: 1px;

$font-monospace: 'Ubuntu Mono';
$font-monospace-size-multiplier: 1.1;

@import '../style';
@import '../user';